# Core libraries
numpy>=1.26,<1.27
scipy==1.15.3
scikit-learn==1.7.2
matplotlib==3.10.7
pillow==12.0.0

# Deep Learning
tensorflow==2.13.0

# Real-time detection
mediapipe==0.10.21
opencv-python==4.12.0.88
opencv-contrib-python==4.11.0.86

# Utilities
joblib==1.5.2
tqdm==4.66.1
pyttsx3==2.99
sounddevice==0.5.3
python-dateutil==2.9.0.post0

# Windows / System
pywin32==311
pypiwin32==223
comtypes==1.4.13

# Protobuf compatibility
protobuf>=4.25.3,<5
